/* Debug */
/* {
	border: 1px solid red;
	padding: 5px;
	margin: 5px;
}*/

:root {
	--color00: #263238;
	--color01: #fb6864;
	--color02: #8ae234;
	--color03: #fddd3d;
	--color04: #70a3f3;
	--color05: #ae89fa;
	--color06: #1dd7fb;
	--color07: #6C818C;
	--color08: #37474f;
	--color09: #e53935;
	--color10: #8ae234;
	--color11: #f57900;
	--color12: #70a3f3;
	--color13: #9F666F;
	--color14: #1dd7fb;
	--color15: #f5f5f5;
	--colorbg: #191b1c;
	--colorfg: #b0bec5;
}

html {
	margin: 0;
	padding: 0;
}

body {
	width: 60%;
	min-width: 400px;
	margin: auto;
	padding: 8px;
	font-family: "Fira Code", "Source Code Pro", monospace;
	font-size: 16px;
	background-color: var(--colorbg);
	color: var(--colorfg);
}

header {
	padding: 1px;
	background-color: var(--color00);
	color: var(--color15);
}

nav.flex-container-nav {
	display: inline-flex;
	justify-content: flex-start;
	box-sizing: border-box;     /* include margin, border, padding, etc */
	width: 100%;
}

nav.flex-container-nav a {
	flex-grow: 1;
	flex-basis: 40px;
	padding: 2px 8px;
}

nav.flex-container-nav a:first-child {
	flex-grow: 20;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: var(--color04);
}

a:hover {
	color: var(--color06);
}

a:active {
	color: var(--color03);
}

main.flex-container-main {
	padding: 40px;
	box-sizing: border-box;
	background-color: var(--colorbg);
}

footer.flex-container-footer {
	display: flex;
	padding: 10px 30px;
	box-sizing: border-box;
	justify-content: center;
}

footer.flex-container-footer > span > em {
	font-family: cursive;
}
