/* Syntax
 selector {
	rules: ;
	layout: ;
	design: ;
}

/* Debug */
/* {
	border: 1px solid red;
	padding: 5px;
	margin: 5px;
}*/

:root {
	/*** Colors ***/
	--color-background: white;
	--color-foreground: black;
	--color-text0: #333;
	--color-text1: #555;

	--color-primary: #285185;
	--color-secondary: #d67940;
	--color-tertiary: #6f4849;
	--color-quarternary: #855C28;

	--color-correct: green;
	--color-attention: yellow;
	--color-wrong: red;
	--color-invalid: brown;

	--color-fill0: #999;
	--color-fill1: #aaa;
	--color-fill2: #bbb;
	--color-fill3: #ccc;

	--color-edge0: #777;
	--color-edge1: #eee;
}

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background-color: var(--color-background);
	color: var(--color-foreground);
}

header {
	padding: 1px;
	color: var(--color-primary);
}

nav.flex-container-nav {
	display: inline-flex;
	box-sizing: border-box;     /* include margin, border, padding, etc */
	justify-content: flex-start;
	width: 100%;
	background-color: var(--color-fill3);

}

nav.flex-container-nav a {
	flex-grow: 1;
	flex-basis: 40px;
	padding: 2px 8px;
}

nav.flex-container-nav a:first-child {
	flex-grow: 20;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: var(--color-secondary);
}

a:hover {
	color: var(--color-primary);
}

a:active {
	color: var(--color-tertiary);
}

main.flex-container-main {
	box-sizing: border-box;
	width: 60%;
	min-width: 400px;
	margin: auto;
	padding: 40px;
	background-color: var(--color-fill0);
}

main section {
	box-sizing: border-box;
	padding: 16px;
	background-color: var(--color-fill1);
	border: 1px solid var(--color-edge0);
	border-radius: 8px;
}

table.subnet-output {
	border: none;
}

th {
	text-align: left;
}

td {
	padding-left: 10px;
}

footer.flex-container-footer {
	display: flex;
	padding: 10px 30px;
	box-sizing: border-box;
	justify-content: center;
}

footer.flex-container-footer > span > em {
	font-family: cursive;
}
